* {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	color: #808080;
	background-color: #f7f7f7;
}
h1,
h2,
h3,
h4,
li {
	text-align: center;
	color: black;
}
header {
	padding-top: 2rem;
}
#navbar {
	line-height: 200%;
	padding-top: 5%;
}
li {
	list-style-type: none;
	background-color: white;
	padding: 0.5em;
	margin: 0.5em;
	margin-left: 5%;
	margin-right: 5%;
}
#bio {
	padding: 5%;
	text-align: center;
	margin-top: 1em;
}
#profile_img {
	width: 60%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#portfolio {
	background-color: white;
}
.portfolio_img {
	width: 90%;
	height: 90%;
	padding-right: 5%;
	padding-left: 5%;
	background-color: white;
}
.description {
	padding: 3%;
	text-align: center;
	font-size: small;
}
h2 {
	padding-top: 10%;
	padding-bottom: 15%;
	font-size: 1rem;
}

h4 {
	text-align: center;
	padding-top: 10%;
}
h3,
p,
h2 {
	margin: 0.5rem;
	background-color: white;
}
.footer_info {
	text-align: center;
	font-size: small;
	margin: 1em;
	padding-top: 1em;
}
.footer_info > div {
	padding-top: 1em;
	padding-bottom: 2em;
	color: black;
}
