* {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	color: #808080;
}
header {
	background-color: #f7f7f7;
}
h1,
h2,
h3,
h4,
li {
	text-align: center;
	color: black;
}
header {
	padding-top: 2rem;
}
/* navigation  */
#navbar {
	line-height: 200%;
	padding-top: 5%;
}
li {
	list-style-type: none;
	background-color: white;
	padding: 0.5em;
	margin: 0.5em;
	margin-left: 5%;
	margin-right: 5%;
}
/* bio */
#bio {
	padding: 5%;
	text-align: center;
	margin-top: 1em;
}
/* portfolio */
#profile_img {
	width: 60%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#portfolio_page {
	background-color: white;
}

.portfolio_img {
	width: 90%;
	height: 90%;
	padding-right: 5%;
	padding-left: 5%;
	background-color: white;
}
.description {
	padding: 3%;
	text-align: center;
	font-size: small;
}
h2 {
	padding-top: 10%;
	padding-bottom: 15%;
	font-size: 1rem;
}

h4 {
	padding-top: 10%;
}
h3,
p,
h2 {
	margin: 0.5rem;
	background-color: white;
}
/* footer */
.footer_info {
	text-align: center;
	font-size: small;
	margin: 1em;
	padding-top: 1em;
}
.footer_info > div {
	padding-top: 1em;
	padding-bottom: 2em;
	color: black;
}

/* tablet layout */

@media screen and (min-width: 768px) {
	h1 {
		padding-top: 1em;
	}
	#navbar {
		text-align: center;
		padding-top: 2%;
	}
	li {
		display: inline-block;
		background-color: #f7f7f7;
		font-size: 13px;
	}
	#bio {
		display: inline-block;
		align-items: center;
		padding-top: 0%;
	}
	#profile_img {
		padding: 1em;
		width: 40%;
		height: 40%;
		float: right;
	}
	#bio > section {
		text-align: left;
		padding-top: 1em;
	}
	div > h2 {
		padding-bottom: 1.5em;
	}
	.portfolio {
		width: 50%;
		float: left;
		padding-bottom: 3em;
	}
	#contact {
		padding-left: 20%;
		padding-right: 20%;
		display: inline;
	}
	#chat {
		padding-left: 25%;
		padding-right: 25%;
	}
}
